<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height,minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

    <!-- 부트스트랩용 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- css파일 -->
    <link rel="stylesheet" href="/css/instantLottoSimulator.css" type="text/css">

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="

            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
<div id="header" class="container-md" background-color="black">
    <div id="userIdBox"><span id="userId"></span><span>님</span></div>
</div>
<nav id="gnbNav">
    <div id="gnb" class="d-flex btn-group" role="group" aria-label="Basic example">
        <button type="button" class="flex-grow-1 btn btn-light" onclick="window.location.replace('/purchaseLotto');">로또 구매하기</button>
        <button type="button" class="flex-grow-1 btn btn-light" onclick="window.location.replace('/lottoPurchased');">구매한 로또</button>
        <button type="button" class="flex-grow-1 btn btn-light" onclick="window.location.replace('/instantLottoSimulator');">즉석 로또 시뮬레이션</button>
    </div>
</nav>


<div id="contents">
    <div id="purchaseLottoContent">
        <div id="recentLottoRoundBox">
            <div><span id="recentLottoRound"></span>가상로또 구매하기</div>
            실제 로또가 아니며, 결과는 바로 확인하실 수 있습니다.
        </div>

        <input id="purchaseAmount" class="form-control" placeholder="구입 금액을 입력하세요." autofocus required>
        1000원 단위로 입력해주세요.
        최대 금액은 100,000,000원까지 가능합니다.
        <button type="button" class="btn btn-primary" onclick="sendPurchaseAmount()">구매하기</button>
    </div>

    <div id="purchasedLottoContent">
        <div id="userLottoListTableDiv">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">인덱스</th>
                    <th scope="col">구입한 로또 번호</th>
                </tr>
                </thead>
                <tbody id="purchasedLottoTable">
                </tbody>
            </table>
        </div>

        <div id = "winningResult">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">순위</th>
                    <th scope="col">당첨금액</th>
                    <th scope="col">당첨기준</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1등</td>
                    <td ><span id="firstPrice"></span>원</td>
                    <td>당첨번호 6개 숫자일치</td>
                </tr>
                <tr>
                    <td>2등</td>
                    <td ><span id="secondPrice"></span>원</td>
                    <td>당첨번호 5개 숫자일치 + 보너스 숫자 일치</td>
                </tr>
                <tr>
                    <td>3등</td>
                    <td ><span id="thirdPrice"></span>원</td>
                    <td>당첨번호 5개 숫자일치</td>
                </tr>
                <tr>
                    <td>4등</td>
                    <td><span id="forthPrice"></span>원</td>
                    <td>당첨번호 4개 숫자일치</td>
                </tr>
                <tr>
                    <td>5등</td>
                    <td><span id="fifthPrice"></span>원</td>
                    <td>당첨번호 3개 숫자일치</td>
                </tr>
                </tbody>
            </table>



            <div id="lottoResultBox">
                <div>로또 결과</div>
                <div id="lottoResult"></div>

            </div>
        </div>
        <div id ="winningResultError">아직 당첨번호가 나오지 않았습니다.</div>


    </div>
</div>


<!--<div id="mySpinner">-->
<!--    <div class="spinner-border" role="status">-->
<!--        <span class="visually-hidden">Loading...</span>-->
<!--    </div>-->
<!--</div>-->

<script src='/js/instantLottoSimulator.js'></script>
</body>
</html>