<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/header" :: header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!--부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/lottoStore.css" type="text/css">
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>


<!--    <div id = "NthLottoPurchase">-->
<!--        <span id = "nthInformation"  th:text=" + ${nthInformation} + '회차 로또 구매'">N</span>회차 로또 구매-->
<!--    </div>-->

    <form>
        <label for="inputPurchaseAmount" class="form-label">구입금액</label>
        <input class="form-control" id="inputPurchaseAmount" type="text" placeholder="구입 금액을 1000원 단위로 입력해주세요">
        <button type="button" class="btn btn-primary" onclick="sendPurchaseAmount()">구매하기</button>
    </form>
    <label for="tickets" class="form-label">구매한 티켓</label>
    <div id = "tickets" ></div>


    <div th:replace="fragments/footer :: footer"/>

    <script src="js/lottoStore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>