<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, height=device-height,minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

  <!-- 부트스트랩용 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <!-- css파일 -->
  <link rel="stylesheet" href="/css/main.css" type="text/css">

  <!-- 제이쿼리 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="

          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
<div id="header" class="container-md" background-color="black">
  <div id="userIdBox"><span id="userId"></span><span>님</span></div>
</div>
<nav id="gnbNav">
  <div id="gnb" class="d-flex btn-group" role="group" aria-label="Basic example">
    <button type="button" class="flex-grow-1 btn btn-light" onclick="window.location.replace('/purchaseLotto');">로또 구매하기</button>
    <button type="button" class="flex-grow-1 btn btn-light" onclick="window.location.replace('/lottoPurchased');">구매한 로또</button>
    <button type="button" class="flex-grow-1 btn btn-light" onclick="window.location.replace('/instantLottoSimulator');">즉석 로또 시뮬레이션</button>
  </div>
</nav>


<script src = '/js/main.js'></script>
</body>
</html>